*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: #d2b48c;
}

.main-visual{
    width: 100%;
    height: 400px;
}

.main-visual_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-visual_content img{
    float: left;
}

.main-visual_content p{
    font-size: 2.0em;
    font-family: vdl-megamaru,sans-serif;
    font-weight: 400;
    font-style: normal;
}




#main{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: #f5deb3;
    padding: 16px;
    float: left;
    position: relative;
    
    
}

#main p{
    color: #a0522d;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#content1 img{
    border-radius: 20%;
    mix-blend-mode: multiply;
}


.top-title{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #a0522d;
    font-weight: 800;
/*    border-bottom: 6px solid #ff7f50;*/
    font-family: fot-tsukuardgothic-std, sans-serif;
}

span {
    border-bottom: 6px dotted #ff7f50;
}

.title-hobby{
    margin-top: 280px;
}

.title-myprofile{
    margin-top: 50px; 
}

.right-box{
    float: left;
    width: 380px;
    margin-right: 50px;
    margin-top: 50px;
}

.left-box{
    float: left;
    width: 380px;
    margin-left: 50px;
    margin-top: 50px;
}

img {
    float: left;
}


h2{
    color: #ff7f50;
    font-family: fot-tsukuardgothic-std, sans-serif;
}


p{
    margin-bottom: 16px;
}



#content1{
    position: relative;
}

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
border: 4px solid black;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}